

.AddToCartBar{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;

 
  
  label{
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
    flex-basis: 190px ;
    flex-grow: 5;
    
  }

  >button{
    flex-grow: 1;
  }

}