

.shoppingCartBlock{
  padding-inline: var(--paddingInline);
  padding-block: 40px;
  color: var(--darkFontColor);
  background-color: var(--lightGrayBackground);
  min-height: 60vh;

  h2{
    font-size: var(--fontSizeM);
    font-family: ClashDisplay;
    margin-bottom: 40px;
  }

  table{ 
    text-align: left;
    border-collapse: collapse;
    width: 100%;
    
    td:nth-child(2), th:nth-child(2){
      text-align: center;
      padding-inline: 10px;
    }
    // выравниваем QuantityInput
     td:nth-child(2)>div{
      margin-inline: auto;
    }
    
    td:nth-child(3), th:nth-child(3){
      text-align: right;
    }

    thead{
      tr{
        border-bottom: var(--borderGray) 2px solid;
        th:nth-child(2){
          padding: 10px;
        }
      }
    }
    tbody{
      tr:last-child{
        border-bottom: var(--borderGray) 2px solid;
      }
    }
    tfoot{

      tr{
        text-align: right;
        th{
          font-weight: normal;
          font-size: 20px;
          padding-top: 20px ;
          color: #4e4d93;
          
          span{
            color: var(--darkFontColor);
            font-size: 24px;
          }
        }

        td:not(:last-child){
          padding-top: 10px;
          color: #4e4d93;
        }
        td:last-child{
          padding-top: 15px;
          color: #4e4d93;
          a{
            justify-self: end;
            // color: #fff;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .shoppingCartBlock{
    table{
      thead{
        th{
          display: none;
        }
      }
      tbody{
        td:not(:first-child){
          display: none;
        }
      }
    }
  }
}