

.socialLinks{
  width: fit-content;

  h4{
    font-family: ClashDisplay;
    color: #FFF;
    font-size: 16px;
    margin-bottom: 20px;
  }

  ul{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
}
