

.socialLinks{
  width: fit-content;

  h4{
    font-family: ClashDisplay;
    color: #FFF;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: right;
  }

  ul{
    display: flex;
    justify-content: end;
    gap: 24px;
  }
}

@media screen and (max-width: 920px) {
  .socialLinks{
    ul{
        flex-wrap: wrap;
    }
  }
}