
// Нормализация - сброс стилей
@import url('./normalize.scss');

// Шрифты
@import url('../../public/fonts/fontFace.scss');

// Переменные
@import url('./variables.scss');


body{
  color: var(--darkFontColor);
}

.active{
  color: #6c63ff !important;
  border-bottom: 2px solid #6c63ff !important;
}

a, button{
  display: inline-block;
  transition: background-color 0.2s ease;
  color: inherit;
}

*button:active, *a:active{
  transform: scale(0.96);
}

.globalLink{
  color: var(--darkFontColor);
  background-color: var(--lightGrayBackground);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 32px;
  width: fit-content;
  height: 47px;

  &:hover {
    background: #dcefffbc;
  }

  &:active {
    background: #c8e6ffbc;
  }
}

.globalButton{
  color: #fff;
  background-color: var(--darkBackgroundColor);
  padding: 12px 25px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 90px;

  &:hover {
    background-color: #3a3a5f;
  }

  &:active {
    background-color: #2a2a4a;
  }
}

.embla {
  overflow: hidden;
  margin-inline:clamp(-100px, -5vw, -20px);
  padding-inline: clamp(20px, 5vw, 100px);
}

.embla__container {
  cursor: grab;
  display: flex;
}

.embla__container:active{
  cursor: grabbing;
}

.embla__slide {
  flex: 0 0 auto;
  min-width: 0;
}

a{
  color: var(--darkFontColor);
}

@media screen and (max-width:800px) {
  .globalButton{
    &:active{
      background-color: var(--darkBackgroundColor);
      color: #fff;
    }
    &:hover{
      background-color: var(--darkBackgroundColor);
      color: #fff;
    }
    -webkit-tap-highlight-color: #40407a8b;
  }

  .globalLink{
    &:active{
      background-color: var(--lightGrayBackground);
    }
    &:hover{
      background-color: var(--lightGrayBackground);
    }

    // -webkit-tap-highlight-color: #d6d6ffbc;
    -webkit-tap-highlight-color: #c8e6ffbc;
  }

  *a{
    -webkit-tap-highlight-color: transparent;
  }
}

@media screen and (max-width: 400px) {
  .globalLink{
    width: 100%;
  }
}