
.productCard{
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--darkFontColor);
  max-height: 100%;
  user-select: none;
  transition: background-color 0.2s ease-in;
  
  &:hover{
  background-color: var(--lightGrayBackground);
  }
  &:active{
    transform: none;
  }

  p{
    font-size: 17px;
    min-height: 17px;
  }
  p:last-child{
    font-size: 15px;
    min-width: 15px;
  }
}

.imgFrame{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--lightGrayBackground);
  width: 100%;

  img{
    width: 100%;
    height: 100%;
  }
}

.imgFrameSmall{
  aspect-ratio: 4 / 5;
}

.imgFrameWide{
  aspect-ratio: 8 / 5;  
}

.listingElement, .listingElementWide{
  .productCard:active{
    cursor: grabbing;
  }
}

.listingElement{
  width: clamp(160px, 20vw, 305px);
}

.listingElementWide{
  width: clamp(320px, 40vw, 610px);
}

.gridElement{
  width: 100%;
}

.gridElementWide{
  grid-column: span 2;
  padding-inline: 5px;
}


@media screen and (max-width:800px) {
  .productCard:hover{
    background-color: #fff;
  }
}