.quantityInput{
  display: flex;
  align-items: center;
  justify-content: center;

  input, button{
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: #fff;
    color: var(--darkBackgroundColor);
    -moz-appearance: textfield;
    appearance: textfield;
  }

  input::-webkit-inner-spin-button, input::-webkit-outer-spin-button{
    -webkit-appearance: none;
  }

  button{
    font-size: 26px;
    font-weight: 600;
  }

  input{
    border-inline: var(--lightGrayBackground) 1.5px solid;
  }
}
