
.feedbackFormContainer{
  display: flex;

  h3{
    font-size: var(--fontSizeL);
    font-family: ClashDisplay;
  }
}

.imageWrapper{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 230px;
  img{
    width: 100%;
    height: auto;
  }
}

.feedbackForm{
  padding-block: 20px;
  width: 50%;
  padding-inline: var(--paddingInline) ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  input, textarea{
    background-color: var(--lightGrayBackground);
    margin-top: 5px;
    padding: 5px 10px; 
    width: 100%;
    border: var(--borderGray) 1px solid;
    border-radius: 5px;
  }

  .errorField{
    box-shadow: inset 0px 0px 3px 0px rgb(211, 54, 54);
    border-radius: 0 0 5px 5px;
    border: none;
    margin-top: 0;
  }

  label{
    p{
      margin-top: 5px;
      background: #ba1e1e;
      padding: 5px;
      color: white;
      border-radius: 5px 5px 0 0;
      font-size: 12px;
    }
  }


  textarea{
    resize: none;
    height: 100px;
  }

  fieldset{
    display: flex;
    flex-direction: column;
    gap: 15px;

    legend{
      margin-bottom: 15px;
    }
  }

  div{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  button{
    width: 140px;
  }
}


@media screen and (max-width: 650px) {
  .feedbackFormContainer{
    flex-direction: column;
  }
  .imageWrapper{
    width: initial;
  }
  .feedbackForm{
    width: initial;
    padding-block: 20px;
  }
}

@media screen and (max-width: 400px) {
    .feedbackForm{
      button{
        width: initial;
      }
    }
}