.allProductsBlock{
  display: flex;
  color: var(--darkFontColor); 
  padding-inline: var(--paddingInline);
}

.productGridBlock{
  padding-block: 20px;
  flex-grow: 1;

  button{
    margin-inline: auto;
    margin-block: 50px 30px ;
  }

  span{
    display: block;
    text-align: center;
    font-size: var(--fontSizeS);
    color: var(--darkFontColor);
    margin-block: 50px 30px ;
  }
}

@media screen and (max-width: 500px) {
  .allProductsBlock{
    flex-direction: column;
  } 
}