

.checkoutForm{
  display: flex;
  flex-direction: column;
  gap: 35px;
  box-shadow: 0 0 20px 4px var(--borderGray);
  border-radius: 5px;
  padding: 25px;
  max-width: 750px;
  flex-grow: 1;
  
  section{
    display: flex;
    flex-direction: column;
    gap: 20px;

    span{
      padding-left: 10px;
      font-size: var(--fontSizeS);
    }

    h3{
      font-size: var(--fontSizeM);
    }
    
    label{
      padding-left: 10px;
      display: flex;
      align-items: center;
    }
  }

  button{
    align-self: flex-end;
  }
}

.inputWrapper{
  p{
    background: #ba1e1e;
    padding: 5px;
    color: white;
    border-radius: 5px 5px 0 0;
    font-size: 12px;
  }
}

.textInput{
  width: 100%;
  background-color: var(--lightGrayBackground);
  padding: 10px;
  border: var(--borderGray) 1px solid;
  border-radius: 5px;
  font-size: var(--fontSizeXS);
  }

.errorField{
  box-shadow: inset 0px 0px 3px 0px rgb(211, 54, 54);
  border-radius: 0 0 5px 5px ;
  border: none;
}