

.checkoutForm{
  display: flex;
  flex-direction: column;
  gap: 35px;
  box-shadow: 0 0 20px 4px var(--borderGray);
  border-radius: 5px;
  padding: 25px;
  max-width: 750px;
  flex-grow: 1;
  
  section{
    display: flex;
    flex-direction: column;
    gap: 20px;

    span{
      padding-left: 10px;
      font-size: var(--fontSizeS);
    }

    input{
      background-color: var(--lightGrayBackground);
      padding: 10px;
      border: var(--borderGray) 1px solid;
      border-radius: 5px;
      font-size: var(--fontSizeXS);
      // width: 100%;
    }

    p{
      font-size: var(--fontSizeM);
      // padding-left: 10px;
      // margin-bottom: 10px;
    }
    
    label:not(.textInput){
      padding-left: 10px;
      display: flex;
      align-items: center;
    }

  }

  button{
    align-self: flex-end;
  }
}

.textInput{
  width: 100%;
  // display: flex;
  // flex-direction: column;
  // gap: 10px
}

.errorField{
  box-shadow: inset 0px 0px 3px 0px rgb(211, 54, 54);
}