

.registerFormBlock{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: var(--paddingInline);
  padding-block: 50px;
  min-height: 70vh;

  form{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 450px;
    box-shadow: 0 0 20px 4px var(--borderGray);
    border-radius: 5px;

    h2{
      padding-left: 10px;
      font-size: var(--fontSizeM);
    }

    input{
      background-color: var(--lightGrayBackground);
      padding: 10px;
      border: var(--borderGray) 1px solid;
      border-radius: 5px;
      font-size: var(--fontSizeXS);
    }

    label{
      width: fit-content;
      display: flex;
      gap: 10px
    }
    
    div{
      display: flex;
      gap: 10px;
      flex-direction: column;
      justify-content: center;
    }

    .errorField{
      box-shadow: inset 0px 0px 3px 0px rgb(211, 54, 54);
    }
  }
}