  .searchForm{
    display: flex;
    align-items: center;
    gap: 5px;
    overflow: hidden;
    width: 18px;
    transition: width 0.4s ease;
    position: relative;
    
    input{
      background-color: var(--lightGrayBackground);
      border-radius: 5px;
      padding: 2px 5px;
      border: rgba(0, 0, 0, 0.1) 1px solid;
      max-width: 120px;
      color: var(--darkFontColor);

    }

    button{
      height: 16px;
      width: 16px;
      z-index: 1;
    }

    .clearButton{
      width: 15px;
      height: 15px;
      position: absolute;
      right: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .active{
    width: 141px;
  }

  @media screen and (max-width: 500px) {
    .searchForm{
      flex-direction: row-reverse;

      input{
        padding-left: 22px;
      }

      .clearButton{
        left: 5px;
      }
    }
  }