.profileForm{
  margin-block: 30px;
  margin-inline: var(--paddingInline);
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  box-shadow: 0 0 20px 4px var(--borderGray);

  >div{
    display: flex;
    flex-direction: column;
    gap: 25px;
    
    >button{
      align-self: flex-end;
    }
  }
}

.formTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 3px solid var(--borderGray);

  h2{
    font-size: var(--fontSizeM);
  }

  button{
    height: 35px;
  }
  
}

.profileInfo{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}