
.productGridBlock{
  padding-block: 20px;
  flex-grow: 1;

  button{
    margin-inline: auto;
    margin-block: 50px 30px ;
  }

  span{
    display: block;
    text-align: center;
    font-size: var(--fontSizeS);
    color: var(--darkFontColor);
    margin-block: 50px 30px ;
  }
}

// grid-template-columns: repeat(auto-fit, minmax(160px, auto));

// grid-template-columns: repeat(auto-fit, minmax(120px, auto));
.productGrid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(clamp(125px, 20vw, 240px), 1fr) );
  column-gap: 10px;
  row-gap: 20px;
}
