
.filtersControls{
  display: none;
  justify-content: center;
  gap: 15px;
  padding-top: 20px;
  

  button{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 50px;

  }
}

div>.resetButton{
  display: none;
  margin-top: 10px;
  height: 30px;
  width: 100%;
}



@media screen and (max-width: 500px) {

  .filtersControls{
    display: flex;

    svg{
      transition: transform 0.4s ease;
      width: 20px;
      height: 20px;
      margin-top: 3.5px;
    }
  }

  .svgRotate {
    transform: rotate(180deg);
  }

  div>.resetButton{
    display: flex;

  }

}
