

.featuresBlock{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-block: 60px 0px;
  padding-inline: var(--paddingInline);

  
  h3{
    font-size: var(--fontSizeM);
    font-family: ClashDisplay;
    color: var(--darkFontColor);
    text-align: center;
  }
}

.featuresCardsContainer{
  display: flex;
  justify-content: space-around;
  gap: 20px;
}


@media screen and (max-width: 940px) {

  .featuresCardsContainer{
    flex-wrap: wrap;
    gap: 30px;
  }
  
}

@media screen and (max-width: 650px) {

  .featuresCardsContainer{
    justify-content: start;
    display: block;
    margin-inline: auto;
  }
}