

.subscribeForm{
  display: flex;
  width: 100%;
  max-width: 460px;
  margin-top: 30px;
  flex-direction: column;

    p{
      margin-top: 5px;
      background: #ba1e1e;
      padding: 5px;
      color: white;
      border-radius: 5px 5px 0 0;
      font-size: 12px;
      margin-inline: auto;
      width: 100%;
    }

    label{
      display: flex;
      flex-wrap: wrap;  
    }


  input{
    background-color: var(--lightGrayBackground);
    padding: 15px 15px;
    flex-grow: 4;
  }

  .errorField{
    box-shadow: inset 0px 0px 3px 0px rgb(211, 54, 54);
  }

  button{
    flex-grow: 1;
  }
}