
.productsListingContainer{
  padding-inline: var(--paddingInline);
  padding-block: 70px 0px;

 
  h3{
    font-size: var(--fontSizeL);
    color: var(--darkFontColor);    
    font-family: ClashDisplay;
  }

  ul{
    /* Сбрасываем padding для списка за счет отрицательного margin и выравниваем конец списка с помощью padding */
    // margin-inline:clamp(-100px, -5vw, -20px);
    // padding-inline: clamp(20px, 5vw, 100px);
    margin-block: 35px;
    // display: flex;
    gap: 20px;
    // overflow-x: scroll;
    // overflow-y: hidden;
  }

  .link{
    background-color: var(--lightGrayBackground);
    color: var(--darkFontColor);
    margin-inline: auto;
  }
}
