
.productsListingContainer{
  padding-inline: var(--paddingInline);
  padding-block: 50px 0px;

 
  h3{
    font-size: var(--fontSizeL);
    color: var(--darkFontColor);    
    font-family: ClashDisplay;
  }

  ul{
    margin-block: 35px;
    gap: 20px;

  }

  .link{
    background-color: var(--lightGrayBackground);
    color: var(--darkFontColor);
    margin-inline: auto;
  }
}
