
.productBlock{
  display: grid;
  place-items: stretch center;
  margin-block: clamp(20px, 5vw, 50px);
  margin-inline: var(--paddingInline);  
  min-height: 500px;
  color: var(--darkFontColor);
  background-color: var(--lightGrayBackground);
}
// Модификатор высокого изображения 
.productBlockTall {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
// Модификатор широкого изображения 
.productBlockWide {
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
// Модификатор ошибки
.productBlockError{
  grid-template-columns: 1fr;

  >span{
    padding: 10px;
    font-size: var(--fontSizeS);
    text-align: center;
  }
}

// Контейнер изображения
.productBlockImageWrapper{
  min-height: 200px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  img{
    max-height: 95vh;
    max-width: 100%;
  }
}
// Контейнер описания
.productDescriptionBlock{
  display: flex;
  gap: clamp(40px, 10vw - 40px, 80px);
  flex-direction: column;
  padding: 30px 20px;
}

@media screen and (max-width: 500px) {

  .productBlockTall {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .productBlockWide {
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  }

  .productBlockImageWrapper{
    padding: 0;
  }

  .productBlock{
    padding-inline: 0px;
    padding-top: 0px;
  }
}
