

.navigation{
    display: flex;
    justify-content: space-between;
    gap: clamp(20px, 10vw - 40px, 200px);
    color: #FFF;
    white-space: nowrap;
    flex-wrap: wrap;
    flex-grow: 1;

    ul{
      li{
        margin-bottom: 16px;
        font-size: 15px;
        a{
          color: #FFF;
          border-bottom: 2px solid transparent;
          transition: border-color 0.2s ease;
        }
        a:hover{
            border-bottom: 2px solid #FFF;
        }

        h4{
          font-size: 17px;
          font-family: CLashDisplay;
        }
      }
    }
  }

@media screen and (max-width:530px) {
  .categoryUl {
    display: none;
  }

}
