.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.activationMessage{
  max-width: 450px;
  box-shadow: 0 0 20px 4px var(--borderGray);
  border-radius: 5px;
  padding-inline: var(--paddingInline);
  padding-block: 50px;
  margin-block: 50px;
  margin-inline: var(--paddingInline);
  p{
    font-size: var(--fontSizeM);
    color: var(--darkFontColor);
    line-height: 130%;
  }
}