
.contactsHeroBlock{
  z-index: 3;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #b28e72;
  min-height: clamp(290px, 30vw, 500px);

  .imageWrapperLoading{
    width: clamp(35%, 70vw - 220px, 70%);
  }
}

.imageWrapper{
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 143px;
  img{
    width: 100%;
    height: 100%;
  }
}  

.bannerTextBlock{
  z-index: 2;
  position: absolute;
  right: clamp(30px, 9vw - 20px, 200px);
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  padding-inline: var(--paddingInline);
  padding-block: 20px;
  width: clamp(320px, 25vw + 200px, 550px);
  gap: clamp(40px, 10vw, 200px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h3{
    font-size: var(--fontSizeL);
    font-family: ClashDisplay;
    margin-bottom: 15px;
  }

  p{
    font-size: 16px;
    line-height: 120%;
  }

  button{
    background-color: var(--lightGrayBackground);
    color: var(--darkFontColor);
    width: fit-content;
  }
}


@media screen and (max-width: 600px) {
  .contactsHeroBlock{
    display: flex;
    flex-direction: column;

    .imageWrapperLoading{
      width: 100%;
    }
  }

  .imageWrapper{
      width: initial;
  }

  .bannerTextBlock{
    position: initial;
    width: 100%;
    transform: initial;
    gap: 60px;
  }
}

@media screen and (max-width: 400px) {
  .bannerTextBlock{
    button{
      width: initial;
    }
  }
}
